:root {
  --clr-navy: #34495e;
  --primary-clr: #6563ff;
  --secondary-clr: #c4c3fc;
  --light-line: #e4e2ed;
  --cell-width: 22px;
  --light-text: #686673;
  --light-dot: #adaac0;
  --bg-primary: #fff;
  --bg-secondary: #fff;
  --primary-foreground: #000;
  --wall-clr: rgb(68, 71, 72);
  --path-clr: #fffe6a;
  --visited-clr: #40cee3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  text-decoration: none;
  list-style: none;
}

body {
  width: 100vw;
  height: 100vh;
}

.template {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
  background-color: #ecebeb;
}

header {
  width: 100%;
}

nav {
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e1e1e1;
  padding: 10px;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 20px;
  background: #e0e0e0;
  box-shadow: -20px -20px 60px #bebebe, 20px 20px 60px #ffffff;
  border: 7px solid rgb(153, 153, 153);
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
}

.logo-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.logo {
  padding: 0 16px;
  color: #2c2f37;
  font-size: 18px;
  font-weight: 600;
}

.btn {
  color: #2c2f37;
  padding: 0.4em 1em 0.6em 1em;
  font-size: 15px;
  font-weight: 600;
  border-radius: 0.4em;
  background: #dedede;
  cursor: pointer;
  border: 1px solid #e0e0e0;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.btn:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-menu > li > a {
  border-radius: 10px;
  margin: 0 2px;
}

.nav-menu > li > a:hover {
  background-color: #8a8a8a;
  color: white;
}

.nav-menu > li.active > a:hover {
  color: white;
}

.nav-menu > li.active > a {
  background-color: #8a8a8a;
  color: white;
}

.nav-menu > li > a {
  color: #2c2f37;
  font-size: 16px;
  padding: 8px 16px;
  display: block;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
}

.drop-box {
  position: relative;
}

.drop-box.active .drop-menu {
  display: block;
}

.drop-box .drop-menu {
  position: absolute;
  right: 0;
  top: calc(100% + 20px);
  background: rgb(222, 222, 222);
  box-shadow: rgba(86, 86, 97, 0.25) 0px 30px 50px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
  min-width: 120px;
  padding: 4px;
  border-radius: 8px;
  display: none;
  z-index: 2222;
}

.drop-menu > li.active > a {
  background-color: #8a8a8a;
  color: white;
}

.drop-menu > li > a:hover {
  background-color: #8a8a8a;
  color: white;
}

.drop-menu > li > a {
  color: rgb(73, 78, 97);
  padding: 8px;
  display: block;
  border-radius: 4px;
  margin: 3px 0;
  font-size: 17px;
}

.row {
  background: #e8e8e8fc;
  z-index: 2;
  display: flex;
}

.col {
  aspect-ratio: 1;
  width: 100%;
  min-width: var(--cell-width);
  border: 1px solid rgb(202, 202, 202);
}

.col.wall {
  border: 1px solid rgb(202, 202, 202);
}

#board {
  overflow: hidden;
  width: 100%;
  min-height: 518px;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 5px;
  border-radius: 20px;
  background: #bcbcbc;
  position: relative;
  border-radius: 14px;
  z-index: 1111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

#board .row:nth-child(2) .col:first-child {
  border-radius: 12px 0 0 0;
}

#board .row:nth-child(2) .col:last-child {
  border-radius: 0 12px 0 0;
}

#board .row:last-child .col:first-child {
  border-radius: 0 0 0 12px;
}

#board .row:last-child .col:last-child {
  border-radius: 0 0 12px 0;
}

#board .row:nth-child(2) {
  margin-top: 5px;
  border-radius: 12px 12px 0 0;
}

#board .row:last-child {
  margin-bottom: 5px;
  border-radius: 0 0 12px 12px;
}

#board .row {
  margin-left: 20px;
  margin-right: 20px;
}

.h {
  max-height: max-content;
}

.blob {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  background-color: #08080845;
  opacity: 1;
  filter: blur(70px);
  animation: blob-bounce 4.5s infinite ease;
}

@keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }

  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  }

  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }

  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  }

  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
}

@media screen and (max-width: 1000px) {
  nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 4px;
    column-gap: 12px;
  }
  .nav-menu {
    grid-column: 1/-1;
    width: max-content;
  }
  .btn {
    width: max-content;
  }
}
